/* dylartz#1947 */
.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/269676959707955213"]::before {
   z-index: 1;
  position: absolute;
  left:17%!important;
  top:100%; 
  content: url(https://i.imgur.com/S7Qg7h1.png);
}

.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/269676959707955213"]::after {
  content: "OwO \a Im DiranKyun \a Bushido";
}
/* dylartz#1947 */
