
.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/415521775703556106"]::before {
    z-index: 1;
  position: absolute;
  left:17%!important;
  top:100%;  
  content: url(https://i.imgur.com/wisYqYt.png);
}

.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/415521775703556106"]::after {
  content: "Yoru Member";
}

