/* Marz_ Dezier#1468 */
.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/327895252407156738"]::before {
  z-index: 1;
  position: absolute;
  left:-7.9%!important;
  top:115%;  
  content: url(https://i.imgur.com/RrN96oz.gif);
}

.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/327895252407156738"]::after {
  content: "Papa marz bar";
}
/* 96.4#6641 */
