/*Yoru/*
.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/407228696877989898"]::before {
  z-index: 1;
  position: absolute;
  left:17%!important;
  top:115%;  
  content: url(https://i.imgur.com/wisYqYt.png);
}

.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/407228696877989898"]::after {
  content: "Yoru Member";
}
/*Yoru/*
