
.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/219081409342472194"]::before {
  z-index: 1;
  position: absolute;
  left:17%!important;
  top:115%;  
  content: url(https://i.imgur.com/wisYqYt.png);
}

.large-3ChYtB:not(.popout-2fzvxG)[style*="avatars/219081409342472194"]::after {
  content: "Yoru Member";
}

