//META{"name":"イナイ  |","description":"イナイイナイ依存症","author":"*Void","version":"ersion auto updates","website":"https://discord.gg/HRDN6x9","source":"https://github.com/AmIVoid/discord"}*//{}

/*@nounoknow made this beautiful background*/

@import url(https://rawgit.com/AmIVoid/discord/master/Inai/イナイmaster.css);

:root {
	--load1: "Theme loading";
	--load2: "Follow me on Twitter";
	--load3: "@Shift8Void";			
	--LineColour: #bd0f0f;
    --NameColour: #bd0f0f;
    --light: rgba(0, 0, 0, .6);
    --userlight:rgba(0, 0, 0, 0.5);
	--mc: hsla(360, 85%, 40%, 0.3);		
	--sc: hsla(360, 85%, 50%, 0.8);
	--bc: hsla(0, 0%, 15%, 0.8);		
	--round: 50%;						
	--font: sans-serif;					
	--font-size: 17px;             		
	--text:  #eee; 						
	--block: none;						
	--size: 35px;						
}
.appMount-3VJmYg {background: url(https://i.imgur.com/tx733CD.png) center/cover no-repeat} 
.userPopout-3XzG_A {background: url(https://i.imgur.com/tx733CD.png) center/cover no-repeat} 
.homeIcon-1FoKUJ{background: url(https://i.imgur.com/jwHiEn0.gif) no-repeat center/cover} 

/* Smart embeds */

.container-1YxwTf .container-1e22Ot {
	display: flex;
	flex-flow: row wrap;
}

.container-1YxwTf .container-1e22Ot > :not(:last-of-type){
	margin-right: 10px;
}

.container-1YxwTf .container-1e22Ot > *{
	margin-top: 5px;
}

.reactions-1xb2Ex {
	width: 100%;
	flex: 100%;
	order: 9999999999;
}

